.header { 
    display: flex;
    justify-content: space-between;
    border: 1px solid black
}

.logo {
    width: 100px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}


.res-container{
    display: flex;
    margin: 5px;
    flex-wrap: wrap;

}

.res-card {
    margin:5px;
   padding: 5px;
   width: 200px;
  
   
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.Search {
    padding: 10px;
}

.res-logo{ 
  width: 200px;   /* set desired width */
  height: 150px;  /* set desired height */
  object-fit: fill; /* keeps image proportion, crops excess */
  border-radius: 8px; /* optional: rounded corners */

}

.filter-btn {
    /* margin: 10px; */
    cursor: pointer;
    margin-left: 22px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
   
}

.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: lightgray;
}

.login {
    padding: 0 20px;
    cursor: pointer;
    margin-right: 13px;;
}

.filter{
    display: flex;
    padding: 10px;
    
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 0;
  border-bottom: 1px solid #eee;
  gap : 40px;
  max-width: 700px;     /* width limit */
  margin: 0 auto;
}

.menu-text {
  width: 65%;
}

.menu-text h3 {
  margin: 0;
  font-size: 18px;
}

.menu-text p {
  margin: 6px 0;
  font-size: 14px;
  color: #555;
}

.user-card{
    padding: 10px;
    border: 1px solid black;
}
/* .res-logo {
  width: 140px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
} */

